.Profile {
  border: 1px solid #ccc;
  width: 350px;
  background-color: rgb(247, 247, 247);
  margin-bottom: 30px;
}

.Description {
  display: flex;
  flex-direction: column;
}

.Profile .Avatar {
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width: 100px;
  border-radius: 50%;
}

.Profile .Name {
  font-size: 26px;
  font-weight: bold;
  color: #555555;
}

.Profile .Name,
.Profile .Tag,
.Profile .Location {
  margin: 0px;
  text-align: center;
}

.Profile .Tag {
  color: #9b9b9b;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Profile .Location {
  color: #9b9b9b;
  margin-bottom: 35px;
}

.Stats {
  display: flex;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

.Stats .Label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.Stats span {
  color: rgb(104, 103, 103);
}

.Stats li {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #eeeded;
  color: #fff;
  box-shadow: inset 1px 1px #ccc, 1px 1px 1px #ccc;
}

.Stats .Quantity {
  justify-content: center;
  color: black;
  font-weight: bold;
}
