table {
  padding: 0 px;
  text-align: center;
  background-color: #ccc;
}

th {
  padding: 15px 10px;
  background-color: rgb(85, 177, 214);
  text-transform: uppercase;
  color: #fff;
}

td {
  padding: 10px 10px;
}

.Transaction-history {
  padding: 0px;
  margin-bottom: 30px;
  width: 100%;
  align-content: center;
  color: rgb(80, 80, 80);
}

.Transaction-history tbody tr:nth-child(even) {
  background: #ccc;
}

.Transaction-history tbody tr:nth-child(odd) {
  background: #fff;
}
